<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card color="dark">
    <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" />
    <ion-card-header>
      <ion-card-title>Lista de contatos</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-list [inset]="true">
    <ion-card *ngFor="let contato of listaContatos" color="dark">
      <ion-item button (click)="exibirContato(contato)">

        <ion-avatar slot="start">
          <img [src]="contato.foto">
        </ion-avatar>

      <ion-card-header><ion-card-title>{{contato.nome}}</ion-card-title></ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-item>
    </ion-card>
    </ion-list>


</ion-content>
